{% extends 'base.html' %}
{% block head %}
  {% load static %}
  <link rel="stylesheet" type"text/css" href="{% static "stylesheets/temporary.css" %}" >
  <link rel="stylesheet" type"text/css" href="{% static "stylesheets/login_page.css" %}" >
{% endblock %}

{% block header %}
{% endblock %}

{% block content %}
  <form method="post" class="small-auth-form">
  <h3 class="centered">Logga in</h3>
    {%if form.non_field_errors %}
      <div class="alert alert-danger">
        {{form.non_field_errors}}
      </div>
    {% endif %}
    {% csrf_token %}
    {% load widget_tweaks %}
    {{form.username.label_tag}}
    {% render_field form.username class="form-control form-margin"%}
    {{form.password.label_tag}}
    {% render_field form.password class="form-control form-margin"%}
    <input type="submit" value="Login" class="btn btn-success btn-block">
    <a href="/forgot_password">Glömt lösenord</a>
  </form>

{% endblock %}
