{% extends "base.html" %}

{% block head %}
{% endblock %}
{% block content %}
{% load static %}
<script src="https://code.jquery.com/jquery-3.3.1.js"
integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
crossorigin="anonymous"></script>
<script src={% static "JS/animations.js"%}></script>
{% load staticfiles %}
  <form method="post" action=" " class="small-form">

    {% if success_msg %}
      <div class="alert alert-success">
        {{success_msg | safe}}
      </div>
    {% endif %}
    {% csrf_token %}
      {%if form.non_field_errors or form.errors %}
        <div class="alert alert-danger">
          {{form.non_field_errors}}
          {{form.email.errors}}
          {{form.first_name.errors}}
          {{form.last_name.errors}}
          {{form.phone.errors}}
        </div>
      {% endif %}

      {% load widget_tweaks %}

      {{form.email.label_tag}}
      {% render_field form.email class="form-control form-margin"%}

      {{form.first_name.label_tag}}
      {% render_field form.first_name class="form-control form-margin"%}

      {{form.last_name.label_tag}}
      {% render_field form.last_name class="form-control form-margin"%}

      {{form.phone.label_tag}}
      {% render_field form.phone class="form-control form-margin"%}

      <label for="ismanager">Skapa som Arbetsgivare</label>
      <input type="checkbox" name=ismanager value="ismanager" id="manager-checkbox" unchecked>
      <div id="manager-box">
        <label for="manages">Välj vem Användaren är arbetsgivare för</label>
        <select id="user_select" name="manages" multiple>
          {% for user in users %}
            <option value="{{user.id}}">{{user}}</option>
          {% endfor %}
        </select>
        <p class="note-text">Tryck och håll ner CTRL och välj flera användare i listan.</p>
      </div>
      <input type="submit" value="Skapa" class="btn btn-success btn-block ">
  </form>
{% endblock %}
