<!doctype html>
{% load static %}
<html lang="sv">
  <head>
    <meta charset="utf-8">
    <title>
      PACAs  {% block title %} - login {% endblock %}
    </title>
    {% load static %}
    <script src={% static "paca_app/calendar/moment.min.js"%}></script>
    <script src={% static "paca_app/calendar/jquery.min.js"%}></script>
    <script src={% static "paca_app/calendar/fullcalendar.min.js"%}></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.1/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.9.0/fullcalendar.min.js"></script>

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.9.0/fullcalendar.min.css" rel="stylesheet">

    <link href={% static "paca_app/calendar/fullcalendar.min.css"%} rel='stylesheet' />
    <link href={% static "paca_app/calendar/fullcalendar.print.min.css"%} rel='stylesheet' media='print' />

    <link rel="stylesheet" href="{% static '/stylesheets/overall.css' %}">
    {% block head %}
    {% endblock %}
  </head>
  <body>
    {% block header %}
    <header>
      <nav id="firstHead">
        <ul id="Sort">
          <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {{request.user}}
                <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                <span class="caret"></span>
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="{% url 'edit_profile' %}">Inställningar</a>
                <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="/profile">Din Profil</a>
                 <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="{% url 'logout' %}">Logga ut</a>
              </div>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="{% url 'jobs' %}">Arbetspass</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="{% url 'index' %}">Kalender</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="/add_user">Registrera ny anställd</a>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Meddelande
              <span class="badge badge-info" id=unreadCount></span>
              <span class="sr-only">unread messages</span>
              <span class="caret"></span>
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="{% url 'new_message' %}">Nytt meddelande</a>
              <a class="dropdown-item" href="{% url 'sent_messages' %}">Skickade</a>
              <a class="dropdown-item" href="{% url 'recieved_messages' %}">Mottagna</a>
            </div>
          </li>
          <li class="nav-item pull-right">
              <a class="nav-link disabled" href="{% url 'logout' %}">Logga ut</a>
          </li>
        </ul>
      </nav>
    </header>
    {% endblock %}

    {% block content %}
      <!-- Innehåll för sidan -->
    {% endblock %}
  </body>
</html>
