{% extends 'base.html' %}
{% block title %} Glömt lösenord {% endblock %}
{% block header %}
{% endblock %}

{% block content %}
  <form method="post" action=" ">
    {% csrf_token %}
      <label for="email">Email:</label>
      <input type="email" name="Email" id="email" placeholder="sofia@gmail.com" required>
      <input type="submit" value="Ändra">
  </form>
  {% if messages %}
    {% for message in messages %}
      <div class="alert alert-success" role="alert">
        {{ message }}
      </div>
    {% endfor %}
  {% endif %}
{% endblock %}
