{% extends 'base.html' %}
{% block head %}
{% load static %}
  <link href={% static "paca_app/calendar/fullcalendar.min.css"%} rel='stylesheet' />
  <link href={% static "paca_app/calendar/fullcalendar.print.min.css"%} rel='stylesheet' media='print' />
  <script src={% static "paca_app/calendar/moment.min.js"%}></script>
  <script src={% static "paca_app/calendar/jquery.min.js"%}></script>
  <script src={% static "paca_app/calendar/fullcalendar.min.js"%}></script>

{% endblock %}
{% block content %}
  <div id="calendar"></div>
  <script>
  // Create calendar when document is ready
$(document).ready(function() {

 // We will refer to $calendar in future code
 var $calendar = $("#calendar").fullCalendar({
   // Start of calendar options
   header: {
    left: 'title',
    center: '',
    right: 'today,month,agendaDay,agendaWeek prev,next'
   },

   // Make possible to respond to clicks and selections
   selectable: true,
   eventLimit: true,

   // This is the callback that will be triggered when a selection is made.
   // It gets start and end date/time as part of its arguments
   select: function(start, end, jsEvent, view) {

     // Ask for a title. If empty it will default to "New event"
     title = "Arbetspass";
     // If did not pressed Cancel button
     if (title != null) {
      // Create event
      var event = {
       title: title.trim() != "" ? title : "Arbetspass",
       start: start,
       end: end,

       // Changed default colors to make delete links
       // more obvious
       color: "lightBlue",
       textColor: "black"
      };


      // Push event into fullCalendar's array of events
      // and displays it. The last argument is the
      // "stick" value. If set to true the event
      // will "stick" even after you move to other
      // year, month, day or week.

      $calendar.fullCalendar("renderEvent", event, true);
     };
     // Whatever happens, unselect selection
     $calendar.fullCalendar("unselect");

    }, // End select callback

    // Make events editable, globally
    editable : true,

    // Callback triggered when we click on an event


    // Callback triggered just before an event is rendered
    eventRender: function(event, element){
            $(element).find(".fc-content").append("<div style='float:right'><a class='delete-link' href='javascript:remove_event(\""
            + event._id + "\")'>Delete</a></div>");

    }, // End callback eventRender

  } // End of calendar options
 );

});

// Global instance of the calendar to be used in other scripts.
var $calendar = $("#calendar").fullCalendar("getCalendar");

// Removes event with ID eventID from calendar
function remove_event(eventID){
    var remove = confirm("Remove event ID " + eventID + "?");

    if(remove == true){
        $calendar.fullCalendar("removeEvents", eventID);
        $calendar.fullCalendar("refresh")
    };

    function saveEvent(event){

            // Ajax call passes event's JSON to application in a query
            // parameter. Uses JSON.stringify to generate an URL friendly
            // JSON string

           $.ajax({
           url: "/ajax_calendar" + JSON.stringify(event)
            }).done(function(data) {

                        // Save and render event locally in fullCalendar's
                        // event array if saveEvent is succesful

                        alert(data);

                        // If the string does not contains the
                        // substring 'Error:' it is OK to render event

                        if(!(~data.indexOf('Error:'))) {
                          $calendar.fullCalendar('renderEvent', event, true)
                        };

                        return true;
                        })
           .fail(function (data) {alert(data);return false;})

};

</script>
{% endblock %}
