{% extends 'base.html' %}

{% block head %}
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.9.0/fullcalendar.min.css" rel="stylesheet">
  {% load static %}
  <link href={% static "paca_app/calendar/fullcalendar.min.css"%} rel='stylesheet' />
  <link href={% static "paca_app/calendar/fullcalendar.print.min.css"%} rel='stylesheet' media='print' />
  <script src={% static "paca_app/calendar/moment.min.js"%}></script>
  <script src={% static "paca_app/calendar/jquery.min.js"%}></script>
  <script src={% static "paca_app/calendar/fullcalendar.min.js"%}></script>
{% endblock %}

{% block content %}

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <h2>Arbetspass</h2>

          <div class="form-group">
              <label for="title">Titel</label>
              <input type="text" class="form-control" id="title">
          </div>
          <div class="form-group">
              <label for="spots">Platser</label>
              <input type="number" min="0" max="10" class ="form-control" onKeyUp="if(this.value>10){this.value='10';}else if(this.value<0){this.value='0';}" id="spots">
          </div>
          <div class="form-group">
              <label for="title">Starttid</label>
              <input type="text" class="form-control" id="start">
          </div>
          <div class="form-group">
              <label for="title">Sluttid</label>
              <input type="text" class="form-control" id="end">
          </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" >Stäng</button>
        <button type="button" class="btn btn-primary" id="save_jobs">Spara</button>
      </div>
    </div>
  </div>
</div>


<div class="container">
          <h1>PACA - Plan Calendar
          </h1>
          <div id='calendar'></div>
      </div>

      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.1/moment.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
      <script src="http://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.9.0/fullcalendar.min.js"></script>
      <!-- Latest compiled and minified JavaScript -->
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  <script>

  $('#calendar').fullCalendar({
                  header: {
                      left: 'month,agendaWeek,agendaDay',
                      center: 'title',
                      right: 'prevYear,prev,next,nextYear'
                  },
                  timeFormat: 'H:mm',
                  defaultView: 'agendaWeek',
                  eventsLimit: 'True',
                  editable: true,
                  eventLimit: true, // allow "more" link when too many events
                  eventSources: [
                      {
                          url: '/get_jobs',
                      }
                  ],

                  dayClick: function( date, jsEvent) {
                    $.get("check_user", function(data){
                      if (data.data == "m"){
                        var chosenDate = date.format();
                        $("#start").val(chosenDate);
                        $("#end").val(chosenDate);
                        $("#exampleModal").modal("show");
                      }
                      else if (data.data == "a"){
                        alert("Du är inte manager")
                      }
                    });
                  }

              });
              // Add event
              $("#save_jobs").on("click", function() {
                  var title = $("#title").val();
                  var spots = $("#spots").val();
                  var start = $("#start").val();
                  var end = $("#end").val();
                  $.ajax({
                      url: "/save_jobs",
                      type: "POST",
                      data: {
                          start: start,
                          spots,      // Testar ifall detta fungerar
                          end: end,
                          title: title,
                      },
                      dataType: "JSON"
                  }).done(function(data){
                      $("#calendar").fullCalendar("renderEvent", data);
                      $("#exampleModal").modal("hide");
                  });
              });

</script>
{% endblock %}
