{% extends 'base.html' %}

{% block head %}
{% endblock %}

{% block content %}
  {% if type == 'manager' %}
    <form method="POST" style="width:20vw;margin:10vh 0px 0">
      {% csrf_token %}
      {{jobForm.as_p}}
      <input type="submit" class="btn btn-success">
    </form>
  {% endif %}

  <table>
    {% for job in jobs %}
      {% if job.spots_left %}
      <tr class="free">
      {% else %}
      <tr>
      {% endif %}

      <td>{{job.name}}</td>
      <td>{{job.start_time}}</td>
      <td>{{job.end_time}}</td>
      <td>{{job.spots}}</td>

      {% if type == 'worker' %}
      <td>
        {% if job.spots_left %}
          <a href="jobs/book/{{job.id}}">Boka</a>
        {% endif %}
      </td>
      {% endif %}

      {% if type == 'manager' %}
        <td>
          <a href="jobs/delete/{{job.id}}">Ta bort pass</a>
        </td>
      {% endif %}
        </tr>
    {% endfor %}
    <h2>Bokade pass</h2>
      {% for booking in bookings %}
        <tr>
          <td>{{booking.name}}</td>
          <td>{{booking.start_time}}</td>
          <td>{{booking.end_time}}</td>
          <td>{{booking.spots}}</td>
        </tr>
    {% endfor %}
  </table>
{% endblock %}
