<!doctype html>
<html lang="sv">
  <head>
    <title>
      PACA - login
    </title>
    <meta charset="utf-8">
  </head>
  <body>
    <h1>PACA</h1>
    <h2>Message<h2>
    <a href="{% url 'logout' %}">Logga ut</a>
    <a href="/settings">Inställningar</a>
    <a href="message">Meddelande</a>

    <form method="POST" action=" ">
      {% csrf_token %}
      {{ form }}
      <input type="submit" value="Skicka">
    </form>

    {% for msg in messages %}
      <h3>{{msg.sent_from}}</h3>
      <p>{{msg.text}}</p>
    {%endfor %}

    <p>Skickade</p>
    ,{% for msg in något_annat %}
      <h3>{{msg.sent_from}}</h3>
      <p>{{msg.text}}</p>
    {%endfor %}
  </body>
</html>
