{% extends "base.html" %}

{% block head %}
{% endblock %}

{% block content %}
<div class="container">
  <h2>Din Profil</h2>
  <table id="tableheader" class="table table-striped">
    <tbody>
      <tr>
        <td>Namn:</td>
        <td> {{request.user}}</td>
      </tr>
      <tr>
        <td>Email:</td>
        <td> {{request.user.email}}</td>
      </tr>
      <tr>
        <td>Telefonnummer:</td>
        <td> {{request.user.phone}}</td>
      </tr>
    </tbody>
  </table>
</div>
<div class="container">
    {% if user.image %}
        <img src="{{ request.user.image.url }}" class="rounded mx-auto d-block" width="300">
    {% else %}
        <h4><a href="{% url 'edit_profile' %}">ladda upp bild</a></h4>
    {% endif %}
</div>

</div>
{% endblock %}
