{% extends "base.html" %}

{% block head %}
{% endblock %}

{% block content %}
<div class="container">
  <h3>Din Profil</h3>
  <table id="tableheader" class="table table-striped">
    <tbody>
      <tr>
        <td>Namn:</td>
        <td> {{request.user}}</td>
      </tr>
      <tr>
        <td>Email:</td>
        <td> {{request.user.email}}</td>
      </tr>
      <tr>
        <td>Telefonnummer:</td>
        <td> {{request.user.phone}}</td>
      </tr>
    </tbody>
  </table>
</div>
{% endblock %}
