.form-margin{
    margin-bottom:10px;
}
.small-auth-form{
  width:35vh;
  margin:auto;
  text-align:left;
  background:white;
  padding:20px;
  border-radius:8px;
  box-shadow:4px 4px 16px black;
  margin-top:20vh;
}
.small-form{
  width:35vh;
  margin:auto;
  text-align:left;
  background:white;
  margin-top:20vh;
}
body{
  text-align: center;
  background:white;
}
input[type="submit"]{
  width:100%;
}
#user_select{
  height:auto;
  max-height:20vh;
}
#manager-box{
  display:none;
}
.note-text{
  font-size: 0.8em;
  font-style:italic;
}
