/* Tillfällig css innan designen är färdig. Ta bort efterhand. */

body{
  text-align:center;
}
form{
  margin:auto;
  margin-top:20vh;
}
header{
  height:5vh;
  width:100vw;
  background:#001f3f;
}
td{
  padding:0 10px;
  font-size:1.4em;
}
  .free{
  background:#1ea71e7a;
  color:grey;
  border-bottom:2px solid #1ea71e;
}
